
@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap');

*{
    font-family: 'Lexend Zetta', 'Bold';
}

header{
    background-color: #000;
    width: 100%;
    height: 100px;
    position: relative;
    position: fixed;
    z-index: 1;
}

.logo{
    margin-top: 20px;
    width: 230px;
    height: 68px;
    margin-left: 25px;
}

p{
    color: #FFF;
}

nav{
    padding: 10px;
    z-index: 2;
    margin-top: -78px;
    position: fixed;
    right: 0;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li{
    margin: 0 15px;
}

nav p{
    margin-top: 0;
    padding: 2px;
    background-color: #000;
    cursor: pointer;
    transition: 0.3s;
}

nav p:hover{
    background-color: #1f1f1f;
    padding: 10px 20px;
    border-radius: 4px;
}

nav img {
    margin-top: 16px;
    width: 30px;
    height: 27px;
    cursor: pointer;
    background-color: #000;
    transition: 0.2s;
}

/* Error de animação, não está igual a tela principal */
nav img:hover{
    background-color: #1f1f1f;
    padding: 10px 10px;
    border-radius: 4px;
}


nav a{
    border-radius: 2px;
    color: #FFF;
    text-decoration: none;
    padding: 0.1px;
    font-size: 12px;
}

body{
    color: #000;
    width: 1536px;
    height: 944px;
}