.footer{
    width: 1880px;
    height: 235px;
    background-color: #000;
    margin-top: -10px;
}
#imgDeFundoInicialFooter{
    margin-top: 50px;
    width: 391px;
    height: 117px;
    margin-left: 25px;
}
.linhaFooter{
    border: #fff;
    background-color: #fff;
    width: 1810px;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 54px;
    margin-left: 35px;
}