
@media screen and (min-width: 1536px) {
    .footer{
        width: 1536px;
        height: 235px;
        background-color: #000;
        margin-top: -49px;
        position: relative;
    }
    #imgDeFundoInicialFooter{
        margin-top: 65px;
        width: 230px;
        height: 68px;
        margin-left: 30px;
    }
    .linhaFooter{
        border: #fff;
        background-color: #fff;
        width: 1442px;
        height: 0.5px;
        margin-top: 50px;
        margin-bottom: 54px;
        margin-left: 35px;
    }
    
    .navfooter {
        margin-top: -200px; /* Espaçamento superior */
        position: static;
    }
    
    .ulfooter {
        list-style: none; 
        padding: 10px; 
        margin-left: 1247px;
        gap: 0; 
    }
    
    .ulfooter li {
        display: inline; /* Exibe os itens em linha */
    }
    
    .ulfooter a img {
        width: 24px; 
        height: 24px;
    }
    
    .ulfooter a img:hover {
        background-color: #1f1f1f;
    }
    
    .pFooter{
        font-family: 'Lexend Zetta','Bold';
        font-size: 17px;
        margin-left: 1230px;
        margin-top: 10px;
    }
}
/* Usando Media-Query */

@media screen and (min-width: 1920px){
    .footer{
        width: 100%;
        height: 235px;
        background-color: #000;
        margin-top: 3270px;
        position: relative;
    }
    #imgDeFundoInicialFooter{
        margin-top: 65px;
        width: 230px;
        height: 68px;
        margin-left: 30px;
    }
    .linhaFooter{
        border: #fff;
        background-color: #fff;
        width: 1820px;
        height: 0.5px;
        margin-top: 50px;
        margin-bottom: 54px;
        margin-left: 35px;
    }

    .navfooter {
        margin-top: -200px; /* Espaçamento superior */
        position: static;
    }
    
    .ulfooter {
        list-style: none; 
        padding: 10px; 
        margin-left: 1620px;
        gap: 0px; 
    }
    
    .ulfooter li {
        display: inline; /* Exibe os itens em linha */
    }
    
    .ulfooter a img {
        width: 24px; 
        height: 24px;
    }
    
    .ulfooter a img:hover {
        background-color: #1f1f1f;
    }
    
    .pFooter{
        font-family: 'Lexend Zetta','Bold';
        font-size: 17px;
        margin-left: 1600px;
        margin-top: 10px;
    }
}