
@media screen and (max-width: 1536px) {
    main{
        width: 1536px;
        height: 944px;
    }
    
    .container{
        position: relative;
    }
    
    #imgDeFundoInicial{
        width: 1536vw;
        height: auto;
        filter: brightness(0.25);
        margin-top: 100px;
    }
    
    #txtServicos{
        position: absolute;
        margin-top: -700px;
        margin-left: 120px;
        color: #FFF;
        font-size: 36px;
    }
    
    #txtPromocao{
        position: absolute;
        margin-top: -605px;
        margin-left: 160px;
        font-size: 20px;
    }
    
    .linhaFirst{
        position: absolute;
        border: #FF0000;
        background-color: #FF0000;
        width: 4px;
        height: 300px;
        margin-top: -600px;
        margin-left: 125px;
        border: 5px;
    }
    
    .linhaSecond{
        position: absolute;
        border: #FFF;
        background-color: #FFF;
        width: 4px;
        height: 200px;
        margin-top: -600px;
        margin-left: 145px;
    }
    
    .txtFrase{
        margin-left: -75px;
    }
    
    #txtFraseInical{
        position: absolute;
        color: #FFF;
        font-size: 26px;
        margin-right: 20px;
        margin-top: -340px;
        margin-left: 1000px;
        text-align: right;
    }
    
    .carroTxt{
        color:#FF0000;
    }
    
    .donoTxt{
        color: #FF0000;
    }
}

/* Usando Media-Query */
@media screen and (min-width: 1920px) {
    
main{
    width: 1920px;
    height: 1080px;
}

.container{
    position: relative;
}

#imgDeFundoInicial{
    width: 1920px;
    height: auto;
    filter: brightness(0.25);
    margin-top: 100px;
}

#txtServicos{
    position: absolute;
    margin-top: -810px;
    margin-left: 120px;
    color: #FFF;
    font-size: 39px;
}

#txtPromocao{
    position: absolute;
    margin-top: -700px;
    margin-left: 160px;
    font-size: 20px;
}

.linhaFirst{
    position: absolute;
    border: #FF0000;
    background-color: #FF0000;
    width: 4px;
    height: 300px;
    margin-top: -700px;
    margin-left: 125px;
    border: 5px;
}

.linhaSecond{
    position: absolute;
    border: #FFF;
    background-color: #FFF;
    width: 4px;
    height: 200px;
    margin-top: -700px;
    margin-left: 145px;
}

.txtFrase{
    margin-left: -75px;
}

#txtFraseInical{
    position: absolute;
    color: #FFF;
    font-size: 36px;
    margin-right: 20px;
    margin-top: -470px;
    margin-left: 1170px;
    text-align: right;
}

.carroTxt{
    color:#FF0000;
}

.donoTxt{
    color: #FF0000;
}

.containerTwo{
    background-color: #000;
    width: 1920vw;
    height: 173px;
    margin-top: -4px;
}

#imgLiqui{
    width: 95px;
    height: 62px;
    margin-top: 54px;
    margin-left: 80px;
}

#imgPirelli{
    width: 160px;
    height: 106px;
    margin-bottom: -23px;
    margin-left: 110px;
}

#imgMotul{
    width: 175px;
    height: 175px;
    margin-bottom: -55px;
    margin-left: 110px;
}

#imgB{
    width: 70px;
    height: 70px;
    margin-left: 110px;
}

#imgGoodyear{
    width: 200px;
    height: 38px;
    margin-left: 110px;
    margin-bottom: 12px;
}

#imgcofab{
    width: 180px;
    height: 37px;
    margin-bottom: 13px;
    margin-left: 110px;
}

#imgHan{
    width: 350px;
    height: 51px;
    margin-bottom: 4px;
    margin-left: 4px;
}

#servicosImg{
    width: 100vw;
    height: auto;
    filter: brightness(0.25);
}

}